@charset "utf-8";
/* CSS Document */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	text-decoration: none;
	color: black;
}

a.hover {
	text-decoration: underline;	
}

h1, h2, h3, h4, h5, h6 {
 	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	line-height: 100%;
	margin-top: 0;	
}

h1 {
	font-size: 18px;
	color: #000;
    font-weight: bold;
}

h2 {
	font-size: 16px;
	color: #000;
}

h3 {
	font-size: 14px;
	color: #000;
}

h4 {
	text-align: left;
	font-weight: bold;
	font-size: 22px;
	font-family: Arial Narrow;
}


/*Main CSS  */

#container {
  width: 1000px;
  background: white;
  margin: 2em auto;
}

body {
  background-color: #FFFFFF;
}

#header {
  background: white;
  width: 1000px;
  margin-left: 175px;
  margin-right: 75px;
  padding-bottom: 5px;
  overflow: hidden;
  height: 100%;
}

#header img {
  float: left;
  margin-right: 10px;
  margin-left: 80px;
  margin-top: 15px;
}

#header ul#social {
  float: right;
  margin-right: 12px;
  position: relative;
  margin-top: 20px;
}

#social li {
  margin-right: 80px;
  display: inline;
}

#nav {
  background-color: #800020;
  height: 70px;
  width: 900px;
  margin-left: 225px;
  margin-bottom: 5px;
  padding-top: 15px;
  padding-bottom: 5px;
}

#nav li {
  font-family: Arial Narrow;
  margin-left: 115px;
  font-size: 24px;
  font-weight: bold;
  display: inline;
  padding: 1px;
}

#nav li a {
  color: white;
}

#nav li a:hover {
text-decoration: none;
}

#featured {
  width: 1000px;
}

#featured img.featuredimage {
  margin-left: 250px;
}

#main {
  background-color: #FFFFFF;
  width: 1000px;
  height: 440px;
  margin-left: 175px;
  margin-right: 10px;
}

#message {
  margin-top: 10px;
  margin-bottom: 10px;
}

.message1 {
	text-align: left;
	font-weight: bold;
	font-size: 22px;
	font-family: Arial Narrow;
}

#col1, #col2, #col3, #col4 {
  display: inline-block;
  margin-top: 15px;
  width: 200px;
}

#col1 {
  margin-left: -50px;
  padding-right: 75px;
}

#col2 h2 {
}

#col3 {
  padding-left: 80px;
}

#col4 {
  padding-left: 75px;
}

#col3 h2 {
  float: left;
  margin-left: 130px;
}

#footer {
  padding-top: 30px;
  background-color: #800020;
  font-family: Arial, Helvetica, sans-serif; 
  font-weight: bold;
  width: 900px;
  height: 50px;
  margin-left: 225px;
  clear: both;
}

.footer1 {
  margin-left: 240px;
  color: #FFFFFF;
  font-family: Arial Narrow;
  font-size: 20px;
}

@media screen and (max-width:979px) {
	#header {
		width: 80%;
		margin-left: 50px;
	}
	#header img {
		max-width: 100%;
		height: auto;
	}
	#header ul#social {
		width: 50%;
		margin-top: 0;
	}
	#nav {
		width: 70%;
		margin-left: 140px;
		max-height: 50px;
	}
	#nav li {
	    width: 80%;
		font-size: 20px;
		margin-left: 75px;
	}
	#featured {
		width: 80%;
		margin-left: -115px;
	}
	#featured img.featuredimage {
		max-width: 90%;
		height: auto;
	}
	#main {
		width: 65%;
		height: 530px;
	}
	.message1 {
		font-size: 22px;
	}
	#col1, #col2, #col3, #col4 {
		width: 100%;
		margin-left: 125px;
	}
	#col1  {
		width: 1%;
		margin-left: -130px;
	}
	#col2 {
		width: 1%;
	}
	#col3 {
		width: 1%;
	}
	#col4  {
		width: 1%;
	}
	#footer {
		width: 70%;
		margin-left: 140px;
		max-height: 50px;
	}
	.footer1 {
		width: 70%;
		font-size: 16px;
		margin-left: 125px;
	}
}

@media screen and (max-width:800px) {
	#header {
		width: 80%;
		margin-left: 50px;
	}
	#header img {
		max-width: 100%;
		height: auto;
	}
	#header ul#social {
		width: 50%;
		margin-top: 0;
	}
	#nav {
		position: static;
		max-height: 50px;
	}
	#nav li {
	    width: 80%;
		font-size: 20px;
		margin-left: 50px;
	}
	#featured {
		width: 80%;
		margin-left: -115px;
	}
	#featured img.featuredimage {
		margin-left: 240px;
	}
	#main {
		width: 65%;
		height: 530px;
	}
	#message {
		margin-left: -30px;
	}
	.message1 {
		font-size: 20px;
	}
	#col1, #col2, #col3, #col4 {
		width: 100%;
		margin-left: 100px;
	}
	#col1  {
		width: 1%;
		margin-left: -170px;
	}
	#col2 {
		width: 1%;
	}
	#col3 {
		width: 1%;
	}
	#col4  {
		width: 1%;
	}
	#footer {
		position: static;
		max-height: 50px;
	}
	.footer1 {
		width: 70%;
		font-size: 16px;
		margin-left: 90px;
	}
}

@media screen and (max-width:640px) {
	#header {
		width: 90%;
		margin-left: 15px;
	}
	#header img {
		width: 50%;
	}
	#social li {
		width: 50%;
	}
	#nav {
		width: 90%;
		margin-left: 30px;
	}
	#nav li {
	    width: 50%;
		margin-left: 53px;
	}
	#featured {
		width: 60%;
		margin-left: -100px;
	}
	#featured img.featuredimage {
	}
	#main {
		width: 60%;
		margin-bottom: -30px;
	}
	#message {
		margin-left: -90px;
	}
	.message1 {
		font-size: 18px;
	}
	#col1, #col2, #col3, #col4 {
		width: 90%;
		margin-left: -3px;
	}
	#col1  {
		width: 1%;
		margin-left: -100px;
	}
	#col2 {
		width: 1%;
	}
	#col3 {
		width: 1%;
	}
	#col4  {
		width: 1%;
	}
	#footer {
		width: 90%;
		margin-left: 30px;
	}
	.footer1 {
		width: 60%;
		font-size: 16px;
		margin-left: 90px;
	}
}

@media screen and (max-width:320px) {
	#header {
		width: 120%;
	}
	#header img {
		width: 60%;
	}
	#social li {
		width: 60%;	
	}
	#nav {
		width: 140%;
	}
	#nav li {
	    width: 90%;
		font-size: 16px;
		margin-left: 40px;
	}
	#featured {
		width: 80%;
	}
	#featured img.featuredimage {
		width: 100%;
	}
	#message {
		width: 100%;
		margin-left: -70px;
	}
	.message1 {
		font-size: 15px;
	}
	#main {
		width: 100%;
	}
	#col1, #col2, #col3, #col4 {
		width: 90%;
		margin-left: -10px;
		margin-top: 2px;
	}
	#col1  {
		width: 1%;
		margin-left: -165px;
	}
	#col2 {
		width: 1%;
	}
	#col3 {
		width: 1%;
	}
	#col4  {
		width: 1%;
	}
	#footer {
		width: 140%;
		margin-top: 2px;
	}
	.footer1 {
		width: 100%;
		font-size: 14px;
		margin-left: 45px;
	}
}	


