@charset "utf-8";
/* CSS Document */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	text-decoration: none;
	color: black;
}

a.hover {
	text-decoration: underline;	
}

h1, h2, h3, h4, h5, h6 {
 	font-family: Arial Narrow;
	font-weight: normal;
	line-height: 100%;
	margin-top: 0;	
}

h1 {
	font-size: 26px;
	color: #FFFFFF;
    font-weight: bold;
	font-family: "Times New Roman";
}

h2 {
	font-size: 16px;
	color: #000;
}

h3 {
	font-size: 14px;
	color: #000;
}

h4 {
	text-align: left;
	font-weight: bold;
	font-size: 22px;
	font-family: Arial Narrow;
}


/*Main CSS  */

body {
  background-color: #556B2F;
}

#nav {
  background-color: #556B2F;
  height: 20px;
  width: 100%;
  margin-top: 15px;
  padding-top: 15px;
  margin-bottom: 100px;
}

#nav li {
  font-family: Book Antiqua;
  margin-left: 330px;
  font-size: 28px;
  font-weight: normal;
  display: inline;
  padding: 15px;
}

#nav li a {
  color: #f2f2f2;
}

#nav li a:hover {
text-decoration: none;
}

#featured {
  width: 1000px;
  margin-bottom: 30px;
}

#featured img.featuredimage {
  margin-left: 400px;
  border-radius: 10px 10px;
}

#featured img.featuredimage2 {
  margin-left: 550px;
  border-radius: 10px 10px;
}

#main {
  background-color: #556B2F;
  width: 1000px;
  height: 350px;
  margin-left: 175px;
  margin-right: 10px;
  margin-bottom: 30px;
}

#message {
  width: 1000px;
  margin-left: 100px;
  margin-top: 20px;
  margin-bottom: 0px;
}

.message1 {
	font-family: "Times New Roman";
	text-align: left;
	font-weight: bold;
	font-size: 44px;
	margin-left: 40px;
	color: #FFFFFF;
}

.message2 {
	font-family: "Times New Roman";
	text-align: left;
	font-weight: normal;
	font-size: 26px;
	margin-left: 52px;
	color: #f2f2f2;
}

#examples {
	width: 1000px;
	margin-left: 190px;
	margin-bottom: 30px;
}

#col1, #col2, #col3, #col4 {
  display: inline-block;
  width: 200px;
}

#col1 {
  margin-left: 5px;
  padding-right: 40px;
}

#col2 h2 {
}

#col3 {
  padding-left: 25px;
}

#col4 {
  padding-left: 50px;
}

#col3 h2 {
  float: left;
  margin-left: 130px;
}

#about {
  width: 800px;
  height: 450px;
  margin-left: 275px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.about1 {
	text-align: left;
	Color: #FFFFFF;
	font-weight: normal;
	font-size: 22px;
	font-weight: bold;
	font-family: "Times New Roman";
}
